<div class="bg-gray-200" style="z-index: 4">
  <div class="sipka"></div>

  <p class="max-w-6xl mx-auto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iste expedita, culpa esse est quis ut tempora
    exercitationem non consequuntur. Dolorum molestias reiciendis architecto fugiat quidem commodi maxime explicabo eius
    amet est aperiam officia ad dolorem, quam omnis debitis modi. Ex ullam voluptatum libero autem, excepturi obcaecati
    sequi, amet rem blanditiis sed illo quos distinctio ratione! Saepe voluptas eveniet quisquam.
  </p>
</div>
